.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
}

.mat-form-field {
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 30px; /* Adjust gap between buttons */
  padding: 20px; /* Optional: Add padding around the buttons */
}

.action {
  display: flex;
  gap: 5px;
}
